* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div {
  padding: auto;
  margin: auto;
}

body {
  font-family: Helvetica, sans-serif;
  color: seashell;
  font-size: 22px;
  text-align: center;
  margin-left: auto;
  margin-top: auto;
  background-color: black;
}

/* header */
header.flex-container {
  with: 100%;
  margin: auto;
}

header img {
  height: 50px;
  padding-left: 10px;
  margin-left: auto;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  display: inline-flex;
  background-color: black;
  opacity: 1;
}

header nav span {
  text-decoration: underline;
  display: inline-block;
  padding: 20px 10px;
}

header nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 20px;
}

/* main */
.main {
  padding-top: 57px;
  opacity: 0.9;
  width: 1200px;
  margin-top: auto;
}

/* mission */

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  margin-top: 10px;
}

#mission .content {
  width: 1200px;
  background-color: black;
}

/* store */
#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

#store h2, #store h4 {
  padding: 10px;
  margin: 0;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;
}

/* locations */
#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  justify-content: center;
  padding-top: 70px;
}

.location {
  justify-content: center;
  display: flex;
  flex-basis: 280px;
  flex-direction: column;
  opacity: 1;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
}

#locations.flex-container {
  margin: auto;
  width: 1100px;
}

#locations h2 {
  background-color: transparent;
  color: seashell;
}

#b1 {
  margin-right: 20px;
}

#b2 {
  margin-left: 20px;
}

/* contact */
#contact {
  height: 200px;
  align-content: center;
}

/* footer */
footer h5 {
  text-align: start;
  padding-left: 20px;
}
